@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.permanent-marker-regular {
	font-family: "Permanent Marker", cursive;
	font-weight: 400;
	font-style: normal;
}
.glassNav {
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.37);
	backdrop-filter: blur(3.5px);
	-webkit-backdrop-filter: blur(3.5px);
	/* border-radius: 10px; */
	/* border: 1px solid rgba(255, 255, 255, 0.18); */
}
