@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.permanent-marker-regular {
	font-family: "Permanent Marker", cursive;
	font-weight: 400;
	font-style: normal;
}
